footer {
  padding: 10px 0 13px 0;
}

footer #logo {
  font-size: 23pt;
  color: #3b3b3b;
}

footer #logo .logo-text {
  color: #7ed7ce;
}

footer #logo .text {
  font-family: 'Roboto';
  font-size: 9pt;
  margin-left: 2px;
  line-height: 0.5;
}

footer .text-right {
  margin-top: 10px;
  font-family: 'Roboto';
}

@media (max-width: 600px) {
  footer #logo {
    text-align: center;
    margin: auto !important;
    display: block;
  }
  footer .text-right {
    display: none;
  }
}
