.top-img {
  padding-top: 75px;
  background: url("img/top-header-bgc.jpg");
  min-height: 75vh;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.top-img .container-in-center {
  position: absolute;
  min-width: 75%;
  height: 25%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 50px;
}

.top-img .container-in-center h4 {
  margin-top: 20px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto';
  color: white;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(10, 19, 227, 0.9);
  animation: hue 3s infinite alternate;
  background-image: linear-gradient(rgba(52, 201, 227, 0.9), rgba(102, 204, 153, 0.9));
  transition-duration: 0.5s;
  margin: 20px auto;
}

.top-img .container-in-center h4:hover {
  border-radius: 30px;
}

.top-img .container-in-center h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto';
  color: white;
}

.top-img .container-in-center h2 {
  text-align: center;
  font-weight: 100;
  font-family: 'Roboto';
  color: white;
}

.top-img .container-in-center h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto';
  color: white;
}

@media (max-width: 500px) {
  .top-img .container-in-center {
    min-height: 60%;
  }
}
