doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title test9volna
        link(rel="icon", type="image/png", href='favicon.png')
        link(href='style.css', rel='stylesheet')
        // Bootstrap
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        .preloader
            img(src="img/preloader.png")

        include index/header
        include index/top-img
        include index/why-we
        include index/slider
        include index/our-portfolio
        include index/price
        include index/map
        include index/footer
        .mob-menu
            .order
                i(class="fa fa-money" aria-hidden="true")
            .coll-back
                i(class="fa fa-phone" aria-hidden="true")
            .menu
                i(class="fa fa-bars" aria-hidden="true")
        .coll-back-page.display-none
            .coll-back-page-container
                h3 ЗАКАЗАТЬ ЗВОНОК
                input(type="text" placeholder="Имя")
                input(type="text" placeholder="Телефон")
                button Отправить запрос
                .close
                    i(class="fa fa-times" aria-hidden="true")
        .menu-page.display-none
            .menu-page-container
                h3 Меню
                h4 О нас
                h4 Портфолио
                h4 Цены
                h4 Контакты
                .close.menu-page-close
                    i(class="fa fa-times" aria-hidden="true")
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css', rel='stylesheet')
        script(src="http://maps.googleapis.com/maps/api/js")
        script(src="lib/jquery.smoothscroll.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js")
        script(src='script.js')


