footer#footer
    .container
        .row
            .col-xs-12.col-sm-6.col-md-3.col-lg-2
                span#logo
                    span.logo-text MILLI
                    | DESIGN
                    .text РАЗРАБОТКА ЛЕНДИНГОВ
            .col-sm-6.col-md-9.col-lg-10.text-right
                h5 © 2015 - MILLIDESIGN. Все права защищен