header
    nav
        .container
            .row
                .col-xs-4.col-sm-6.col-md-3.col-lg-2.logo-container
                    span#logo
                        span.logo-text MILLI
                        | DESIGN
                        .text РАЗРАБОТКА ЛЕНДИНГОВ
                .col-lg-4.visible-lg
                    ul.menu
                        li(data-to="#top")#mtop.select
                            i(class="fa fa-home" aria-hidden="true")
                        li(data-to="#why-we")#mwhy-we О НАС
                        li(data-to="#portfolio")#mportfolio ПОРТФОЛИО
                        li(data-to="#price")#mprice ЦЕНЫ
                        li(data-to="footer")#mfooter КОНТАКТЫ

                .col-xs-8.col-sm-6.col-md-5.col-lg-3.phone-container
                    ul.phone
                        li
                            i(class="fa fa-phone" aria-hidden="true")
                        li +7(495)648-68-01
                        li
                            i(class="fa fa-clock-o" aria-hidden="true")
                        li 10:00-18:00 ПН-ПТ

                .col-md-4.col-lg-3.visible-md.visible-md.visible-lg.wow.pulse
                    .coll-back ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК


