.map
    #googleMap
    .order.wow.slideInLeft
        h3 Офрмит заказ
        input(type="text" placeholder="ФИО")
        input(type="text" placeholder="Адрес эл. почты")
        input(type="text" placeholder="Телефон")
        button Заказать лендинг