.our-portfolio#portfolio
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h3 Наше портфолио
                h4 За 3 года работы мы создали более 200 вебсайтов, вот лишь некоторые из них

            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p1.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p2.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p3.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p4.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p5.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p6.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p7.jpg").wow.zoomIn
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
                .hover-block
                    .top-container
                        a(href="#")
                            i(class="fa fa-link" aria-hidden="true")
                    .bottom-container
                        .text
                            h6 Данила Смокинг
                            h4 Дизайн номер 23
                img(src="img/p8.jpg").wow.zoomIn