.price#price
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h3 цены
                h4 Выберите одну из предложенных опций или отправте заявку на индивидуальный проект
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.el.mt.wow.bounceInLeft
                .price-container
                    .tite Promo
                    .text
                        .price-price-container
                            .left 29
                            .right
                                .top 000 &#8381;
                                .bottom без предоплаты
                        .hr
                        h4 Базовый лендинг
                        h4 Разработка логотипа
                        h4 Настройка вебсайта
                        button Отправить заявку
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.wow.swing
                .price-container
                    .tite.select Premium+
                    .text
                        .price-price-container
                            .left 49
                            .right
                                .top 000 &#8381;
                                .bottom 10% скидка
                        .hr
                        h4 Уникальный дизайн
                        h4 Авторский логотип
                        h4 Личный менеджер
                        h4 Настройка и поддержка проекта
                        button.select Отправить заявку
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.el.mt.wow.bounceInRight
                .price-container
                    .tite Бизнес+
                    .text
                        .price-price-container
                            .left 149
                            .right
                                .top 000 &#8381;
                                .bottom 10% скидка
                        .hr
                        h4 Интернет магазин
                        h4 Многостраничный вебсайт
                        h4 Корпоративный портал
                        h4 Веб приложения
                        button Отправить заявку