.slider.wow.tada
    .arr-left
        i(class="fa fa-chevron-left" aria-hidden="true")
    .arr-right
        i(class="fa fa-chevron-right" aria-hidden="true")
    .slide
        .text
            h2 Разработка адаптивного дизайна
            h5 Дополнительная информация о разработке, сроки и объяснение механики.
            h5
                a(href="#") подробнее >
        img(src="img/s1.jpg")
    .slide
        .text
            h2 осуществляем поддержку проектов
            h5 Дополнительная информация о разработке, сроки и объяснение механики.
            h5
                a(href="#") подробнее >
        img(src="img/s2.jpg")
    .slide
        .text
            h2 логотип в подарок при заказе лендинга
            h5 Дополнительная информация о разработке, сроки и объяснение механики.
            h5
                a(href="#") подробнее >
        img(src="img/s3.jpg")