section#top.top-img
    .container-in-center
        h3 РАЗРАБОТАЕМ ПРОДАЮЩИЙ ВЕБСАЙТ
        h2 ПОДНИМЕМ ВАШ БИЗНЕС НА НОВЫЕ ВЫСОТЫ
        h1 ОТ 29 000 &#8381; ПОД КЛЮЧ
        .wow.pulse
            h4 ОТПРАВИТЬ ЗАЯВКУ
